<!Doctype html>
<html>

<title>{% block title %}{% endblock %}</title>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div class="topnav">
  <a {% block active_home %}{% endblock %} href="/">Home</a>
  <a {% block active_vote %}{% endblock %} href="/vote">Vote</a>
  <a {% block active_about %}{% endblock %} href="/about">About</a>
  <a {% block active_help %}{% endblock %} href="/help">Help</a>
  <a class="button" onclick="togglePopup()">Login</a>
  {% block topnav %}{% endblock %}
</div>

<div style="padding: 0px 16px;">

{% block body %}
{% endblock  %}

</div>

</body>

</html>
