{% extends "base.html" %}

{% block active_create_election %}class="active"{% endblock %}

{% block title %}Create{% endblock %}

{% block body %}
    <h2>Create a new Poll</h2>

    <form method="POST" action="{{ url_for("main.create") }}">
        {{ form.hidden_tag() }}
        <table id="fields-table" style="width: 25%">
            <thead>
                <tr><td>{{ form.name.label }}</td><td>{{ form.name }}</td></tr>
                <tr><td>{{ form.public_id.label }}</td><td>{{ form.public_id }}</td></tr>
                <tr><td>{{ form.password.label }}</td><td>{{ form.password }}</td></tr>
                <tr><td>{{ form.open_date.label }}</td><td>{{ form.open_date }}</td></tr>
                <tr><td>{{ form.expiration_date.label }}</td><td>{{ form.expiration_date }}</td></tr>
                <tr><td colspan="2"><hr></td></tr>
                <tr>
                    <td><strong>{{ form.fields.label }}</strong></td>
                    <td><button type="button" id="add-field" onclick="append_field()">New field</button>
                    <button type="button" id="reset-fields" onclick="reset_fields()">Reset fields</button>
                    </td>
                </tr>
            </thead>
            <!-- Fields will be appended here -->
        </table>

        <br>
        {{ form.submit }}
    </form>
    <script src="{{ url_for("static", filename="script/create_poll.js") }}"></script>
    <script>append_field()</script>
{% endblock %}