{% extends "base.html" %}

{% block active_login %}class="active"{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    </head>

    <div class="column is-4 is-offset-4">

        <div style="margin-top: 30px" class="box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            <h3 class="title">Login</h3>
            <form method="POST" action="{{ url_for("auth.login") }}">
                {{ form.hidden_tag() }}
                {{ form.email(placeholder="Email", class="input is-large", style="margin-bottom: .5em") }}
                {{ form.password(placeholder="Password", class="input is-large", style="margin-bottom: .5em") }}
                {{ form.remember(style="cursor: pointer") }}
                {{ form.remember.label(style="cursor: pointer") }}
                {{ form.submit(class="button is-block is-info is-large is-fullwidth", style="margin-top: .5em") }}
                <a href="{{ url_for("auth.signup") }}">Create a new account?</a>
            </form>
        </div>
    </div>

{% endblock %}