{% extends "base.html" %}

{% block active_signup %}class="active"{% endblock %}

{% block title %}Signup{% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    </head>

    <div class="column is-4 is-offset-4">

        <div style="margin-top: 30px" class="box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}<br>Do you want to <a href="{{ url_for('auth.login') }}">login</a>?
                    </div>
                {% endif %}
            {% endwith %}
            <h3 class="title">Sign Up</h3>
            <form method="POST" action="/signup">
                {{ form.email(placeholder="Email", class="input is-large", style="margin-bottom: .5em") }}
                {{ form.username(placeholder="Username", class="input is-large", style="margin-bottom: .5em") }}
                {{ form.password(placeholder="Password", class="input is-large", style="margin-bottom: .5em") }}
                {{ form.submit(class="button is-block is-info is-large is-fullwidth") }}
                <a href="{{ url_for("auth.login") }}">Login to existing account?</a>
            </form>
        </div>
    </div>

{% endblock %}
