{% extends "base.html" %}

{% block title %}Vote{% endblock %}
{% block active_vote %}class="active"{% endblock %}

{% block body %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}">
</head>

<div class="column is-4 is-offset-4">

    <div style="margin-top: 30px" class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <h3 class="title">Vote</h3>
        <form method="POST" action="{{ url_for("main.vote") }}">
            <p>{{ hidden }}</p>
            {{ form.hidden_tag() }}
            {{ form.poll_id(placeholder="Poll Identifier", class="input is-large", style="margin-bottom: .5em") }}
            {{ form.voting_code(placeholder="Code/Password", class="input is-large", style="margin-bottom: .5em")}}
            {% if not hidden %}
                {{ form.includes_content(hidden=True, default=True) }}
                <table>
                    {% for question in form.fields %}
                        <tr><td colspan="2">{{ question.field_name }}</td></tr>

                        {% if (question.type_ // 100)==1 %}
                            <tr><td>{{ question.choices() }}</td></tr>
                        {% endif %}

                    {% endfor %}
                </table>
                <p>Hidden</p>
            {% endif %}
            {{ form.submit(class="button is-block is-info is-large is-fullwidth", style="margin-top: .5em") }}
        </form>
    </div>
</div>

{% endblock %}